<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<style type="text/css">
</style>
</head>
<body>
	<div id="app">{{ message }}</div>
	<div id="app-2">
		<span v-bind:title="message">sdadsad</span>
	</div>

	<div id="app-3">
		<p v-if="seen">doyousime</p>
	</div>
	<div id="app-4">
		<ol>
			<li v-for="todo in todoos">{{ todo.text }}</li>
		</ol>
	</div>
	<script type="text/javascript">
		var app1 = new Vue({
			el : '#app',
			data : {
				message : 'Hello Vue!'
			}
		})

		var app2 = new Vue({
			el : '#app-2',
			data : {
				message : '页面加载于 ' + new Date().toLocaleString()
			}
		})
		
		var app3 = new Vue({
			el : '#app-3',
			data : {
				seen : false
			}
		})
		
		var app4 = new Vue({
			el : '#app-4',
			data : {
				todoos:[
					{text:'学习Javascript'},
					{text:'来吧'},
					{text:'gogogo'}
				]
			}
		})
	</script>
</body>
</html>